
.DS_Store
.svn
test/jacks
test/jython

test/jacksfiles.txt

doc/langspec-1.0.pdf

test/jythonfiles.txt

test/pythonfiles.txt

out.txt

*.scm~

*.forest~

out2.txt

*.bak

*.bak

*.scm~

test/.idea/.name

test/.idea/encodings.xml

test/.idea/inspectionProfiles/profiles_settings.xml

test/.idea/misc.xml

test/.idea/modules.xml

test/.idea/other.xml

test/.idea/scopes/scope_settings.xml

test/.idea/test.iml

test/.idea/testrunner.xml

test/.idea/vcs.xml

test/.idea/workspace.xml

*.pyc

*.rkt~

*.bak

*.forest~

*.forest~

*.rkt~

forest.rkt~

ext/java.forest~

forest.bak

bin/forest$frame.class

*.class

cache/core.patterns.forest,ext_forest.forest.scm

cache/core.rules.forest,core.patterns.forest,ext_forest.forest.scm

cache/core.rules.forest,ext_forest.forest.scm

cache/ext_forest.forest.scm

cache/ext_java.forest.scm

cache/standard.patterns.forest,core.rules.forest,core.patterns.forest,ext_forest.forest.scm

cache/standard.rules.forest,core.rules.forest,core.patterns.forest,ext_forest.forest.scm

cache/standard.rules.forest,standard.patterns.forest,core.rules.forest,core.patterns.forest,ext_forest.forest.scm

.classpath

.project
